@model Store


<section> 
    <h3>@Model.Name - @Model.Id</h3>
    <div>
        Store Type: @Model.StoreType
    </div>
    <div>
        Address: @Model.Address
    </div>
    <div>
        <a asp-action="Details" asp-route-id="@Model.Id">More</a>
        <a asp-page="/Stores/Edit" asp-route-id="@Model.Id">Edit</a>
        <a asp-page="/Stores/Remove" asp-route-id="@Model.Id">Delete</a>
    </div>
</section>