@model Store


@{
ViewBag.Title = @Model.Name + " details";
}
 <header>
    <h2>@Model.Id @Model.Name</h2>
    <ul>
  <li><a asp-action="Index" asp-controller="Home">Home</a></li>
  <li><a asp-action="Create" asp-controller="Home">Add Store</a></li>      
  <li><a asp-action="About" asp-controller="Home">About</a></li>
</ul>
</header>

<body>

</body>
    
    <main>
    <div class="row">
        <div class="column">
            <p>ID: <i>@Model.Id</i></p>
            <p>Description: <i>@Model.Desc</i></p>
            <p>Address: <i>@Model.Address</i></p>
            <p>PostCode:  <i>@Model.PostCode</i></p>
            <p>Type: <i>@Model.StoreType</i></p>
            <p>Departments: <i>@Model.Department</i></p>
            <p>Open Date: <i>@Model.OpenDate</i></p>
            <p>Concessions: <i>@Model.Concessions</i></p>
            <p>Size:  <i>@Model.StoreSize</i></p>
        </div>
    </div>
    </main>
    