@page "{id}"
@using StoreValidator.Pages.Stores
@model RemoveModel

@{
ViewBag.Title = "Remove store";

<form method="post">

    <header>
    <h2>Confirm deletion of @Model.Store.Name</h2>  
    </header>
    <main>
    <div class="row">
        <div class="column" style="background-color:white;">
            <p>ID: <i>@Model.Store.Id</i></p>
            <p>Description: <i>@Model.Store.Desc</i></p>
            <p>Address: <i>@Model.Store.Address</i></p>
            <p>PostCode:  <i>@Model.Store.PostCode</i></p>
            <p>Type: <i>@Model.Store.StoreType</i></p>
            <p>Department: <i>@Model.Store.Departments</i></p>
            <p>Open Date: <i>@Model.Store.OpenDate</i></p>
            <p>Concessions: <i>@Model.Store.Concessions</i></p>
            <p>Size:  <i>@Model.Store.StoreSize</i></p>
        </div>
    </div>
    </main>

        <div>
        <input type="submit" name="save" value="Confirm" />
        <a asp-action="Index" asp-controller="Home">Back</a>
        </div>
</form>

}